
<% members = %w(Juliette, Louis, Greg) %>
<div class="container text-center padded">
 <ul class="list-inline">
   <% members.each do |member| %>
     <li>
       <h3><%= member%></h3>
     </li>
   <%end%>
 </ul>
</div>
